<!DOCTYPE html>

<html lang="zh-tw">

    <head>

        <meta content="text/html; charset=utf-8" http-equiv="content-type">

        <title>Hi BlockChain Status</title>

        <meta content="Hi BlockChain Status" name="Hi BlockChain Status">
        <meta content="HTML>

        <meta name="author" content="Hi BlockChain Status">

        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />

    </head>

    <body>

        <div id="page">

        <h1 align="center"><br>Hi BlockChain Status</h1>

        <hr size=1></hr>

        <h3 align="left">
        TimeStamp: {{ TimeStamp }}<br>
        Status: {{ Status }}<br>
        </h3>

    </body>

</html>